<!DOCTYPE html>
<html lang="en"> 
<head> 
    <meta charset="UTF-8">
    <title>后台模板</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <!-- load css -->
    <link href="Scripts/layui/css/layui.css" rel="stylesheet"/>
    <link href="Content/global.css" rel="stylesheet" media="all"/>
</head>
<body>
<div class="layui-layout layui-layout-admin" id="layui_layout">
    <!-- 顶部区域 -->
    <div class="layui-header header header-demo">
        <div class="layui-main">
            <!-- logo区域 -->
            <div class="admin-logo-box">
                <a class="logo" href="#">网信工作综合业务系统</a>
                <div class="larry-side-menu">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
            </div>
            <div class="pf-user">
                <div class="pf-user-photo">
                    <img src="Scripts/layui/images/face/user.png" width="40">
                </div>
                <h4 class="pf-user-name ellipsis">管理员</h4>
                <i style="font-size: 5px" class="layui-icon">&#xe61a;</i>

                <div class="pf-user-panel">
                    <ul class="pf-user-opt">
                        <li onclick="userInfo()">
                            <a href="javascript:;">
                                <img src="Scripts/layui/images/face/admin.png" width="18">
                                <i class="fa fa-user " style="margin-left:10px"></i>个人资料
                            </a>
                        </li>
                        <li onclick="changePwd()">
                            <a href="javascript:;">
                                <img src="Scripts/layui/images/face/lock.png" width="18">
                                <i class="fa fa-lock " style="margin-right:10px"></i>修改密码
                            </a>
                        </li>
                        <li onclick="logOut()">
                            <a href="javascript:;">
                                <img src="Scripts/layui/images/face/exit.png" width="18">
                                <i class="fa fa-sign-out " style="margin-right:10px"></i>退出系统
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 左侧侧边导航开始 -->
    <div class="layui-side layui-side-bg layui-larry-side" id="larry-side" style="top: 65px;">
        <div class="layui-side-scroll" id="larry-nav-side" lay-filter="side">

            <!-- 左侧菜单 -->
            <ul class="layui-nav layui-nav-tree" id="vueConfig" v-cloak>
                <li class="layui-nav-item layui-this" v-for="item in roles">
                    <a href="javascript:;" data-url="main.html">
                        <i class="iconfont" :class="item.smallIcon" data-icon='icon-home1'></i>
                        <span>{{item.title}}</span>
                        <em class="layui-nav-more"></em>
                    </a>
                    <dl class="layui-nav-child">
                        <dd v-for="menu in item.data">
                            <a href="javascript:;" :data-url="menu.url">
                                <i class="iconfont" :class="menu.smallIcon" :data-icon="menu.smallIcon"></i>
                                <span>{{menu.title}}</span>
                            </a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <!-- 左侧侧边导航结束 -->
    <!-- 右侧主体内容 -->
    <div class="layui-body" id="larry-body" style="bottom: 0;">
        <div class="layui-tab layui-tab-card larry-tab-box" id="larry-tab" lay-filter="demo" lay-allowclose="true">
            <div class="go-left key-press pressKey" id="titleLeft" title="滚动至最右侧"><i
                    class="larry-icon larry-weibiaoti6-copy"></i></div>
            <ul class="layui-tab-title">
                <li class="layui-this" id="admin-home"><i class="iconfont icon-diannao1"></i><em>后台首页</em></li>
            </ul>
            <div class="go-right key-press pressKey" id="titleRight" title="滚动至最左侧"><i
                    class="larry-icon larry-right"></i></div>
            <ul class="layui-nav closeBox">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="iconfont icon-caozuo"></i> 页面操作</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" onclick="refresh()" class="refresh refreshThis"><i class="layui-icon">&#x1002;</i>
                            刷新当前</a></dd>
                    </dl>
                </li>
            </ul>
            <div class="layui-tab-content" style="min-height: 150px; ">
                <div class="layui-tab-item layui-show">
                    <iframe class="larry-iframe" data-id='0' src=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 加载js文件-->
<script type="text/javascript" src="Scripts/layui/layui.js"></script>
<script type="text/javascript" src="Scripts/larry.js"></script>
<script type="text/javascript" src="Scripts/index.js"></script>
<script type="text/javascript" src="Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="Scripts/vue.js"></script>

<script> 
    var socket;  
    if(typeof(WebSocket) == "undefined") {  
        console.log("您的浏览器不支持WebSocket");  
    }else{  
        console.log("您的浏览器支持WebSocket");  
        	//实现化WebSocket对象，指定要连接的服务器地址与端口  建立连接  
            //等同于socket = new WebSocket("ws://localhost:8083/checkcentersys/websocket/20");  
            socket = new WebSocket("ws://localhost:9090/websocket/20".replace("http","ws"));  
            //打开事件  
            socket.onopen = function() {  
                console.log("Socket 已打开");  
                //socket.send("这是来自客户端的消息" + location.href + new Date());  
            };  
            //关闭事件  
            socket.onclose = function() {  
                console.log("Socket已关闭");  
            };  
            //发生了错误事件  
            socket.onerror = function() {  
                alert("Socket发生了错误");  
                //此时可以尝试刷新页面
            }  
    }
</script>

<script>
    $.ajaxSetup({
        headers: {
            "Content-Type": "application/json;charset=utf-8",
            "token": window.localStorage.getItem('m_token')
        },
        complete: function (res) {
            if (JSON.parse(res.responseText).code == '401') {
                window.top.location.href = 'login.html';
            }
        }
    });

    function changePwd() {
        var data = 'change';
        layer.open({
            type: 2,
            title: '修改密码',
            maxmin: true,
            shadeClose: true, //点击遮罩关闭层
            area: ['400px', '250px'],
            content: 'changePassWord.html',
            success: function (layero, index) {
                var body = layer.getChildFrame('body', index);
                var iframeWin = window[layero.find('iframe')[0]['name']];
            },
            end: function () {
                //刷新页面
            }
        });
    }

    function userInfo() {
        var data = 'edit';
        layer.open({
            type: 2,
            title: '个人资料',
            maxmin: true,
            shadeClose: true, //点击遮罩关闭层
            area: ['400px', '310px'],
            content: 'userInfo.html',
            success: function (layero, index) {
                var body = layer.getChildFrame('body', index);
                var iframeWin = window[layero.find('iframe')[0]['name']];
            },
            end: function () {
                //刷新页面
                //window.location.reload()
            }
        });
    }
	
    //创建vue实例化对象
    var vm = new Vue({
        el: '#vueConfig',
        data: {
            // 数据创建
            roles: []
        },
        created() {
            this.getMenu()
        },
        methods: {
            getMenu() {
                let self = this;
                //获取用户对象
                var rowGuid = JSON.parse(window.localStorage.getItem('m_user_rowGuid'))
                if (rowGuid == null) {
                    window.top.location.href = 'login.html';
                }
                //根据用户行标获取角色权限菜单
                $.ajax({
                    async: false,
                    url: '/sys/user/getMenuByUserGuid?userGuid=' + rowGuid,
                    contentType: 'application/json;charset=utf-8',
                    method: 'get',
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.code == '0') {
                            self.roles = res.data;
                        }
                        // else
                        //     layer.msg(res.msg);
                    }
                });
            }
        }

    })
	
	function refresh(){
		//获取当前iframe并刷新
		var iframe = document.getElementsByClassName('layui-tab-item layui-show');
		if(iframe != undefined){
			iframe[0].firstElementChild.contentWindow.location.reload(true);
		}
	}
	
    function logOut() {
        //清除token
        window.localStorage.removeItem('m_token');
        location.href = "login.html";
    }
</script>
</body>
</html>